<div>
  <%= for product <- @products do %>
    <div class="panel">
      <div class="panel-header">
        <h3><%= product.street_name %> <span class="pull-right text-success">Cost $<%= product.cost %></span></h3>

      </div>
      <div class="panel-body">
        <img src="<%= product.url %>" class="thumbnail"/>
        <%= link "Add To Cart", to: "/products/#{product.id}", class: "btn btn-success" %>
      </div>

    </div>
  <% end %>
</div>
